<app-custom-header title="Riwayat Transaksi"></app-custom-header>

<ion-content>
  <!-- kosong -->
  <app-empty-state *ngIf="daftarTransaksi.length === 0" icon="receipt-outline" pesan="Belum ada transaksi">
  </app-empty-state>

  <!-- ada data -->
  <ion-list lines="full" *ngIf="daftarTransaksi.length > 0">
    <ion-item *ngFor="let t of daftarTransaksi" button (click)="lihatDetail(t)">
      <ion-icon name="receipt-outline" slot="start" color="primary"></ion-icon>

      <ion-label>
        <h2>Transaksi #{{ t.id }}</h2>
        <p>{{ t.tanggal | date:'d MMM yyyy, HH:mm' }}</p>
        <p>{{ jumlahItem(t) }} barang</p>
      </ion-label>

      <ion-badge slot="end" color="success">
        Rp{{ t.total | number }}
      </ion-badge>

      <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
