<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="produkForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nama Produk *</ion-label>
      <ion-input formControlName="nama" placeholder="Masukkan nama produk"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="(produkForm.get('nama')?.touched || isSubmitted) && produkForm.get('nama')?.hasError('required')">
      Nama produk wajib diisi.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Kategori *</ion-label>
      <ion-input formControlName="kategori" placeholder="Makanan, Minuman, dll"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="(produkForm.get('kategori')?.touched || isSubmitted) && produkForm.get('kategori')?.hasError('required')">
      Kategori wajib diisi.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Harga Beli *</ion-label>
      <ion-input type="number" formControlName="hargaBeli" placeholder="0"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="(produkForm.get('hargaBeli')?.touched || isSubmitted) && (produkForm.get('hargaBeli')?.hasError('required') || produkForm.get('hargaBeli')?.hasError('min'))">
      Harga beli harus lebih besar dari 0.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Harga Jual *</ion-label>
      <ion-input type="number" formControlName="hargaJual" placeholder="0"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="(produkForm.get('hargaJual')?.touched || isSubmitted) && (produkForm.get('hargaJual')?.hasError('required') || produkForm.get('hargaJual')?.hasError('min'))">
      Harga jual harus lebih besar dari 0.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Stok *</ion-label>
      <ion-input type="number" formControlName="stok" placeholder="0"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="(produkForm.get('stok')?.touched || isSubmitted) && (produkForm.get('stok')?.hasError('required') || produkForm.get('stok')?.hasError('min'))">
      Stok tidak boleh kurang dari 0.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">URL Gambar (Opsional)</ion-label>
      <ion-input formControlName="gambar" placeholder="https://example.com/image.jpg"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Simpan Produk
    </ion-button>
  </form>
</ion-content>
