<app-custom-header title="Dashboard"></app-custom-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ringkasan-card">
          <ion-card-header>
            <ion-card-subtitle>Jumlah Produk</ion-card-subtitle>
            <ion-card-title>{{ jumlahProduk }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ringkasan-card">
          <ion-card-header>
            <ion-card-subtitle>Transaksi Hari Ini</ion-card-subtitle>
            <ion-card-title>Rp{{ totalHariIni | number }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 class="ion-padding-start">Produk Terlaris</h2>
  <div class="terlaris-wrap">
    <app-product-card
      *ngIf="terlaris; else belumAda"
      [produk]="terlaris"
      (cardClick)="bukaDetail($event)">
    </app-product-card>
    <ng-template #belumAda>
      <app-empty-state
        icon="trophy-outline"
        pesan="Belum ada transaksi hari ini">
      </app-empty-state>
  </ng-template>
  </div>  
</ion-content>